/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -15vw;
    background-color: var(--white-color);
}

.hero-section .content {
    text-align: center;
    padding-top: var(--padding);
}

.hero-section .cursive-font {
    font-size: 8rem;
    line-height: 7.55rem;
    color: var(--orange-color);
}

.hero-section h1 {
    color: var(--blue-color);
}

.hero-section h5 {
    max-width: 658px;
    margin: 0 auto;
    margin-top: 1rem;
}

/* /HERO SECTION */

/* TRIBUTE SLIDER SECTION */
.hero-section .tribute-slider-section {
    padding-bottom: 0;
}

.tribute-slider .img-box {
    position: relative;
    width: 100%;
    height: 15vw;
    border-radius: 10px;
    margin: 20px 0 10px 0;
    transition: var(--td-03);
    filter: grayscale(1);
    overflow: hidden;
}

.tribute-slider .img-box:hover {
    transform: translateY(-5px);
    filter: grayscale(0);
    box-shadow: 0 0 10px 0 var(--light-blue-color);
}

@media (min-width: 1600px) {
    .tribute-slider .img-box {
        height: 324px;
    }
}

.tribute-slider .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tribute-slider-section .btns {
    margin-top: var(--size-24);
}

.tribute-slider-section .btns a+a {
    margin-left: var(--size-24);
}

/* /TRIBUTE SLIDER SECTION */

/* INFO SECTION */
.info-box {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 4rem;
}

.info-box img {
    margin-bottom: var(--size-24);
}

.info-box h3 {
    margin-bottom: 8px;
}

.info-box .arrow-btn {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* INFO SECTION */


/* INNER HERO SECTION */
.inner-hero {
    position: relative;
    padding-top: var(--size-24);
}

.inner-hero h1 {
    text-align: center;
    margin-top: var(--size-48);
    margin-bottom: 1rem;
}

.inner-hero h6 {
    text-align: center;
    max-width: 856px;
    margin: 0 auto;
    margin-bottom: 3.25rem;
}

/* /INNER HERO SECTION */

/* CONTENT SECTION */
.page-conent-sec {
    padding-top: var(--size-48);
    padding-bottom: var(--padding);
}

.page-conent-sec .main-img {
    width: 100%;
    border-radius: 10px;
}

.page-conent-sec .content {
    max-width: 856px;
    margin: 0 auto;
}

.page-conent-sec h2,
.page-conent-sec .title,
.page-conent-sec .title * {
    margin-top: 5.125rem;
    margin-bottom: var(--size-40);
}

.page-conent-sec .content p a,
.page-conent-sec .content p strong,
.page-conent-sec .content p b {
    color: var(--light-blue-color);
    font-weight: 700;
}

.page-conent-sec .content p {
    margin-bottom: 2rem;
}

.page-conent-sec .text-quote,
.page-conent-sec .text-quote * {
    margin-bottom: 2rem;
}

.page-conent-sec .content h3 {
    margin-top: var(--size-40);
}

.page-conent-sec .content .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* /CONTENT SECTION */

/* RESPONSIVE */
@media (max-width: 1299px) {
    .owl-carousel {
        padding: 0 60px;
    }

    .owl-carousel .owl-nav button {
        left: 0;
    }

    .owl-carousel .owl-nav button+button {
        right: 0;
    }
}

/* /1299PX */

@media (max-width: 1199px) {
    .tribute-slider .img-box {
        height: 18vw;
    }
}

/* /1200PX */

@media (max-width: 991px) {
    :root {
        --padding: 100px;
    }

    h1,
    .h1 {
        font-size: 3.313rem;
        line-height: 4.25rem;
    }

    h2,
    .h2 {
        font-size: 2.75rem;
        line-height: 3.438rem;
    }

    h3,
    .h3 {
        font-size: 2.063rem;
        line-height: 2.625rem;
    }

    h5,
    .h5 {
        font-size: 1.5rem;
        line-height: 2.063rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
        line-height: 1.575rem;
    }

    .btn,
    .dark-blue-btn,
    .blue-outline-btn,
    .light-orange-btn,
    .light-btn,
    .light-outline-btn,
    input[type=submit],
    .form-control[type=submit] {
        font-size: var(--small-text);
        padding: 12px 35px;
        min-height: 46px;
        align-content: center;
    }

    .owl-carousel .owl-nav button {
        width: 45px;
        height: 45px;
    }

    .hero-section {
        background-position: center -25vw;
    }

    .hero-section .cursive-font {
        font-size: 6rem;
        line-height: 5.55rem;
    }

    .tribute-slider .img-box {
        height: 27vw;
    }

    .info-section .column {
        max-width: 767px;
        margin: 0 auto;
        text-align: center;
    }

    .info-box {
        padding-bottom: 0;
    }

    .row .column:not(:last-child) .info-box:after {
        content: '';
        display: block;
        width: 80%;
        height: 1px;
        background-color: var(--black-color);
        opacity: 0.1;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .info-box .arrow-btn {
        position: relative;
        top: inherit;
        left: inherit;
        margin-top: 1rem;
    }

    .page-conent-sec {
        padding-top: var(--size-48);
        padding-bottom: var(--size-40);
    }

    .inner-hero h6 {
        margin-bottom: 1rem;
    }

    .page-conent-sec h2,
    .page-conent-sec .title,
    .page-conent-sec .title * {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .page-conent-sec .content p {
        margin-bottom: 1rem;
    }

    .page-conent-sec .text-quote,
    .page-conent-sec .text-quote * {
        margin-bottom: 1rem;
    }

    .page-conent-sec .content .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .page-conent-sec .content h3 {
        margin-top: 1rem;
    }

}

/* /991PX */

@media (max-width: 768px) {
    :root {
        --body-text: 1rem;
        --large-text: 1.5rem;
    }

    body,
    p,
    li {
        line-height: 1.625rem;
    }

    h2,
    .h2 {
        font-size: 1.875rem;
        line-height: 2.438rem;
    }

    .hero-section .content,
    .hero-section .tribute-slider-section {
        padding-top: 3.5rem;
    }

    .tribute-slider-section .btns a+a {
        margin-left: .5rem;
    }

    .breadcrumb-item,
    .breadcrumb-item a {
        font-size: 12px;
    }

    .inner-hero {
        padding-top: 1rem;
    }

    .inner-hero h1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .page-conent-sec {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .page-conent-sec h2,
    .page-conent-sec .title,
    .page-conent-sec .title * {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

}

/* /768PX */

@media (max-width: 640px) {
    :root {
        --padding: 60px;
    }

    h1,
    .h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    h3,
    .h3 {
        font-size: 1.625rem;
        line-height: 2.25rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    .hero-section .cursive-font {
        font-size: 4.25rem;
        line-height: 3.75rem;
    }


}

/* /640PX */

@media (max-width: 460px) {

    .btn,
    .dark-blue-btn,
    .blue-outline-btn,
    .light-orange-btn,
    .light-btn,
    .light-outline-btn,
    input[type=submit],
    .form-control[type=submit] {
        font-size: 0.875rem;
        padding: 10px 25px;
    }

    .owl-carousel {
        padding: 0 2.5rem;
    }

    .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        font-size: 1rem !important;
    }

    .hero-section {
        background-position: center -40vw;
    }

    .hero-section .cursive-font {
        font-size: 3.25rem;
        line-height: 2.75rem;
    }

    .tribute-slider .img-box {
        height: 38vw;
    }

    .info-section .row-gap-5 {
        row-gap: 2rem !important;
    }

    .row .column:not(:last-child) .info-box:after {
        margin-top: 2rem;
    }
}

/* /460PX */

/* /RESPONSIVE */