/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -15vw;
    background-color: var(--white-color);
}

.hero-section .content {
    text-align: center;
    padding-top: 7.625rem;
}

.hero-section .cursive-font {
    font-size: 8rem;
    line-height: 7.55rem;
    color: var(--orange-color);
}

.hero-section h1 {
    color: var(--blue-color);
}

.hero-section h5 {
    max-width: 865px;
    margin: 0 auto;
    margin-top: 1rem;
    color: var(--gray-color);
}

/* /HERO SECTION */

/* TRIBUTE SLIDER SECTION */
.hero-section .tribute-slider-section {
    padding-top: calc(var(--padding) - 18px);
    padding-bottom: 0;
    overflow: hidden;
}

.tribute-slider .img-box {
    position: relative;
    width: 100%;
    height: 20vw;
    border-radius: 10px;
    margin: 20px 0 10px 0;
    transition: var(--td-03);
    overflow: hidden;
}

.tribute-slider .img-box:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
}

@media (min-width: 1299px) {
    .tribute-slider .owl-nav button {
        left: -80px;
    }

    .tribute-slider .owl-nav button+button {
        right: -80px;
    }

}

@media (min-width:1400px) {
    .tribute-slider-section .container {
        max-width: 85%;
        width: 85%;
    }
}

@media (min-width:1440px) {
    .tribute-slider-section .container {
        max-width: 1656px;
        width: 90%;
    }
}

@media (min-width: 1600px) {
    .tribute-slider .img-box {
        height: 324px;
    }
}

.tribute-slider .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tribute-slider-section .btns {
    margin-top: calc(var(--size-40) - 10px);
}

.tribute-slider-section .btns .btn {
    width: 15rem;
}

.tribute-slider-section .btns a+a {
    margin-left: var(--size-24);
}

/* /TRIBUTE SLIDER SECTION */

/* INFO SECTION */
.info-box {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 4.5rem;
}

.info-box img {
    margin-bottom: var(--size-24);
}

.info-box h3 {
    margin-bottom: 8px;
}

.info-box p {
    color: var(--gray-color);
}

.info-box .arrow-btn {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* INFO SECTION */

/* CONTENT SECTION */
.page-conent-sec .cntnt-main {
    width: 100%;
    border-radius: 20px;
}

.page-conent-sec .content {
    max-width: 856px;
    margin: 0 auto;
}

.page-conent-sec .content p :where(a, strong, b) {
    color: var(--light-blue-color);
    font-weight: 700;
}

.page-conent-sec .content p {
    margin-bottom: 2rem;
}

.page-conent-sec .quote-text,
.page-conent-sec .quote-text * {
    margin-bottom: 2rem;
}

.page-conent-sec .content h3 {
    margin-top: var(--size-40);
}

.page-conent-sec .content .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* /CONTENT SECTION */

/* MEDIA SECTION */
.media-section {
    position: relative;
    padding-top: var(--size-80);
}

.media-section :where(video, .ratio, iframe, .main-img) {
    border-radius: 20px;
    overflow: hidden;
}

.media-section h2,
.media-section p {
    margin-bottom: var(--size-40);
}

/* /MEDIA SECTION */

/* TRIBUTE STEP BLOCKS */
.tribute-setp-block {
    position: relative;
    margin-bottom: var(--size-40);
}

.tribute-setp-block:last-child {
    margin-bottom: 0 !important;
}

.tribute-setp-block p {
    margin-bottom: 1rem;
}

.tribute-setp-block p:last-child {
    margin-bottom: 0 !important;
}

/* /TRIBUTE STEP BLOCKS */


/* FAQ SECTION */
.faq-accordion .accordion-item {
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
    border-color: var(--gray-color);
    padding-bottom: 1rem;
}

.faq-accordion .accordion-item:first-child {
    border-top: 1px solid var(--gray-color) !important;
}

.faq-accordion .accordion-button {
    font-size: 1.438rem;
    line-height: 1.725rem;
    font-weight: 700;
    padding: 1.5rem 0 0.5rem 0;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.faq-accordion .accordion-button:not(.collapsed) {
    color: var(--dark-color);
}

.faq-accordion .accordion-button::after {
    content: "\f4fe";
    font-family: gift-of-life-icons !important;
    background-image: none !important;
}

.faq-accordion .accordion-button:not(.collapsed)::after {
    content: "\f2ea";
    font-family: gift-of-life-icons !important;
    background-image: none !important;
}

.faq-accordion .accordion-body {
    padding: 0 0 0.5rem 0;
}

.faq-accordion .accordion-body p:last-child {
    margin-bottom: 0;
}

/* /FAQ SECTION */

/* ALERT SECTION */
.alert-section .alert {
    padding: 2.5rem 2.75rem;
    background-color: var(--light-gray-color);
    margin-bottom: 0;
}

.alert-section .alert a {
    display: table;
    color: var(--light-blue-color);
    font-weight: 700;
    margin-top: 1rem;
}

.alert-section .alert a:hover {
    color: var(--blue-color);
}

/* /ALERT SECTION */

/* SEARCH SECTION */

.search-section .row {
    row-gap: var(--size-40);
}

.searched-card .img-wrap {
    position: relative;
    width: 100%;
    height: 217px;
    background-color: #DCDCDC;
    border-radius: 4px;
    border: 1px solid var(--placeholder-color);
    margin-bottom: 8px;
}

.searched-card .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.searched-card p {
    margin-bottom: 0;
}

.search-filter {
    margin-bottom: var(--size-80);
}

.search-filter .col {
    position: relative;
    flex: 1;
}

.search-filter .col:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--placeholder-color);
}

.search-filter .year-col {
    flex: inherit;
    width: 196px;
}

.alpha-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.alpha-list a {
    color: var(--placeholder-color);
}

.alpha-list a:hover,
.alpha-list a.active {
    color: var(--secondary-color);
}

/* /SEARCH SECTION */

/* MY TRIBUTES PAGE */
.account-menu .btn {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--light-gray-color);
    margin-bottom: 1rem;
}

.account-menu .btn:hover {
    color: var(--light-gray-color);
    background-color: var(--blue-color);
}

.account-menu .dropdown-menu {
    min-width: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.account-menu .dropdown-menu a {
    padding: 1rem;
    color: var(--gray-color);
    background-color: var(--light-gray-color);
    white-space: normal;
}

.account-menu .dropdown-menu a:not(:last-child) {
    border-bottom: 1px solid rgba(60, 60, 67, 0.29);

}

.account-menu .dropdown-menu a:hover,
.account-menu .dropdown-menu a.active {
    color: var(--secondary-color);
    background-color: var(--light-orange-color);
}

.account-menu .dropdown-menu a.active {
    font-weight: 700;
    border-color: var(--light-orange-color);
}

.account-menu .dropdown-menu a:has(+.active) {
    border-bottom: 0;
}

.account-menu .dropdown-menu a:last-child:hover {
    color: var(--white-color);
    background-color: var(--error-color);
}

@media (min-width: 768px) {
    .account-menu {
        position: sticky;
        top: var(--size-24);
    }

    .account-menu .btn {
        display: none;
    }

    .account-menu .dropdown-menu {
        display: block;
    }
}

.my-tribute-card {
    position: relative;
    width: 100%;
    border-radius: 16px;
    padding: 1rem;
    border: 1px solid #E5E5EA;
    margin-bottom: var(--size-40);
    display: flex;
    align-items: flex-end;
    transition: var(--td-03);
}

.my-tribute-card:hover {
    box-shadow: var(--shadow);
}

.my-tribute-card img {
    width: 12.75rem;
    height: 8.313rem;
    border-radius: 16px;
    object-fit: cover;
}

.my-tribute-card .card-content {
    flex: 1;
    padding-left: 1rem;
}

.my-tribute-card h5 {
    border-bottom: 1px solid #E5E5EA;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.my-tribute-card .card-content a:not(:last-child) {
    margin-right: 1rem;
}

/* /MY TRIBUTES PAGE */

/* GRAY INFO ROW */
.gray-info-row {
    background-color: var(--gray-D9);
    padding: var(--size-32) 0;
}

.gray-info-row .container {
    display: flex;
    align-items: center;
}

.gray-info-row p {
    flex: 1;
    margin-bottom: 0;
}

/* /GRAY INFO ROW */

/* PRIVIEW TRIBUTE SLIDER SECTION */
.pre-tribute-slider .item img {
    width: 100%;
    height: 44.5vw;
    object-fit: contain;
    border-radius: 16px;
    margin-bottom: 1rem;
    background-color: var(--gray-D9);
    text-align: center;
}

.pre-tribute-slider .owl-nav button {
    top: 45%;
}

@media (min-width: 1200px) {
    .pre-tribute-slider-sec .container {
        max-width: 1100px;
    }

    .pre-tribute-slider .item img {
        height: 43.75rem;
    }

    .pre-tribute-slider .owl-nav button {
        top: 21.875rem;
    }
}

.pre-tribute-slider .item * {
    font-style: italic;
    color: var(--gray-color);
}

.pre-tribute-slider .item p {
    margin-bottom: 0;
}

/* /PRIVIEW TRIBUTE SLIDER SECTION */

/* PRI TRIBUTE CONTENT SECTION */
.pre-tri-content-sec .content {
    position: relative;
    flex: 1;
    padding-right: 4.688rem;
    text-align: justify;
}

.pre-tri-content-sec .content p {
    font-size: var(--size-20);
    line-height: 2.063rem;
    font-family: var(--heading-font);
    margin-bottom: var(--size-32);
}

.pre-tri-content-sec .badge-block {
    width: 205px;
    text-align: center;
}

.pre-tri-content-sec .badge-block .donor-badge {
    margin-bottom: calc(var(--size-24) + 1rem);
}

.pre-tri-content-sec .badge-block p {
    font-size: 1rem;
    color: var(--gray-color);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre-tri-content-sec .badge-block p i {
    font-size: 22px;
    color: var(--gray-81);
}

.pre-tri-content-sec .quote-wrapper {
    position: relative;
}

.pre-tri-content-sec .quote-wrapper::after,
.pre-tri-content-sec .quote-wrapper::before {
    content: "";
    width: 186px;
    height: 1px;
    background-color: #C3C3C3;
    display: block;
    margin: var(--size-32) auto;
    position: relative;
}

.pre-tri-content-sec .quote-wrapper :where(h1, h2, h3, h4, h5, h6, p, div) {
    max-width: 596px;
    margin: 0 auto;
    font-family: var(--heading-font);
    font-style: italic;
    font-size: 1.75rem;
    line-height: 2.438rem;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

/* /PRI TRIBUTE CONTENT SECTION */


/* UPLOAD PHOTO VIEW */
.upld-label,
.upld-label * {
    font-size: var(--small-text);
    line-height: 1.35rem;
    color: var(--gray-color);
    margin-bottom: 0;
}

.upld-label a,
.upld-label span {
    color: var(--light-blue-color);
}

.photo-upload-view {
    position: relative;
    padding: 1rem;
    border: 2px dashed var(--placeholder-color);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 5px;
}

.photo-upload-view.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: pointer;
    pointer-events: none;
}

.photo-upload-view.drag-over {
    background-color: #fffaf4;
    border-color: var(--secondary-color);
}

.photo-list .item {
    position: relative;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--light-gray-color);
    display: flex;
    align-items: center;
}

.photo-list .item img {
    width: 128px;
    height: 91px;
    border-radius: 4px;
    object-fit: contain;
    border: 2px solid rgba(60, 60, 67, 0.29);
}

.photo-list .item .content {
    position: relative;
    flex: 1;
    padding: 0 1rem;
}

.photo-list .item .btn {
    padding: 0 1rem;
    color: var(--gray-color);
    height: auto;
}

.photo-list .item .btn:hover {
    color: var(--blue-color);
}

.photo-list .item .btn:last-child:hover {
    color: var(--error-color);
}

.photo-list .item p {
    font-size: var(--small-text);
    line-height: 1.45rem;
    font-style: italic;
    color: var(--dark-color);
    margin-bottom: 0;
}

.badge {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
    background-color: #FFE1B8;
    border-radius: 50px;
    margin-bottom: 5px;
}

.upld-img-popup .img-box {
    position: relative;
    max-width: 327px;
    margin: 0 auto;
    height: 232px;
    background-color: #DCDCDC;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: center;
    overflow: hidden;
}

.upld-img-popup .img-box img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.upld-img-popup .img-box .btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .4rem .8rem;
    height: auto;
    font-size: 20px;
}

.upld-img-popup .form-check {
    justify-content: center;
}

.upld-img-popup .form-check label {
    flex: inherit;
}

.error-message {
    color: var(--error-color) !important;
    font-size: 0.9rem !important;
    margin-top: 5px !important;
}

/* /UPLOAD PHOTO VIEW */




/* ///// RESPONSIVE ///// */
@media (max-width: 1299px) {

    .tribute-slider {
        padding: 0 60px;
    }

    .tribute-slider .owl-nav button {
        left: -20px;
    }

    .tribute-slider .owl-nav button+button {
        right: -20px;
    }
}

/* /1299PX */

@media (max-width: 1024px) {
    .tribute-slider {
        padding: 0;
    }

    .tribute-slider .owl-nav button {
        left: -1rem;
    }

    .tribute-slider .owl-nav button+button {
        right: -1rem;
    }

    .hero-section {
        background-position: center -25vw;
    }

    .hero-section .content {
        padding-top: var(--size-80);
    }

    .hero-section .cursive-font {
        font-size: 5rem;
        line-height: 4.55rem;
    }

    .hero-section h5 {
        max-width: 620px;
    }

    .inner-hero h6 {
        max-width: 650px;
    }

}

/* /1024PX */
@media (max-width: 992px) {

    .tribute-slider .img-box {
        height: 26vw;
    }

    .pre-tribute-slider .owl-nav button {
        top: 40%;
    }

    .info-section .column {
        max-width: 767px;
        margin: 0 auto;
        text-align: center;
    }

    .info-box {
        padding-bottom: 0;
    }

    .row .column:not(:last-child) .info-box:after {
        content: '';
        display: block;
        width: 80%;
        height: 1px;
        background-color: var(--black-color);
        opacity: 0.1;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .info-box .arrow-btn {
        position: relative;
        top: inherit;
        left: inherit;
        margin-top: 1rem;
    }

    .page-conent-sec .content p {
        margin-bottom: 1rem;
    }

    .page-conent-sec .quote-text,
    .page-conent-sec .quote-text * {
        margin-bottom: 1rem;
    }

    .page-conent-sec .content .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .page-conent-sec .content h3 {
        margin-top: 1rem;
    }

    .media-section {
        position: relative;
        padding-top: var(--size-48);
    }

    .alert-section .alert {
        padding: 1.875rem 2.125rem;
    }

    .account-section {
        min-height: calc(100vh - 18.625rem);
    }

    .my-tribute-card {
        flex-direction: column;
        align-items: flex-start;
        row-gap: var(--size-20);
        text-align: center;
    }

    .my-tribute-card img {
        margin: 0 auto;
    }

    .my-tribute-card .card-content {
        flex: inherit;
        padding-left: 0;
        width: 100%;
    }

    .pre-tri-content-sec .content {
        padding-right: 1rem;
    }

    .pre-tri-content-sec .content p {
        font-size: 1.125rem;
        line-height: 1.625rem;
        margin-bottom: var(--size-20);
    }

    .pre-tri-content-sec .quote-wrapper::after,
    .pre-tri-content-sec .quote-wrapper::before {

        margin: var(--size-20) auto;
    }

    .pre-tri-content-sec .quote-wrapper :where(h1, h2, h3, h4, h5, h6, p, div) {
        max-width: 420px;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

}

/* /992PX */

@media (max-width: 768px) {
    .hero-section .cursive-font {
        font-size: 4.25rem;
        line-height: 2.25rem;
    }

    .hero-section h1 {
        font-size: 2.25rem;
    }

    .hero-section .content,
    .hero-section .tribute-slider-section {
        padding-top: 3.5rem;
    }

    .tribute-slider .img-box {
        height: 33vw;
    }

    .tribute-slider-section .btns a+a {
        margin-left: .5rem;
    }

    .media-section {
        padding-top: 1.875rem;
    }

    .media-section h2,
    .media-section p {
        margin-bottom: var(--size-24);
    }

    .faq-accordion .accordion-item {
        padding-bottom: .5rem;
    }

    .faq-accordion .accordion-button {
        font-size: 1.125rem;
        padding: 1rem 0 .5rem 0;
    }

    .tribute-setp-block {
        margin-bottom: var(--size-20);
    }

    .search-filter {
        margin-bottom: var(--size-40);
    }

    .search-filter .col:first-child {
        flex: inherit;
        width: 100%;
    }

    .search-filter .col:first-child:after {
        display: none;
    }

    .searched-card .img-wrap {
        height: 40vw;
    }

    .gray-info-row {
        padding: var(--size-20) 0;
        margin-bottom: var(--size-40);
    }

    .gray-info-row .container {
        flex-direction: column;
        row-gap: var(--size-20);
        text-align: center;
    }

    .pre-tri-content-sec .container {
        flex-direction: column;
        row-gap: var(--size-30);
    }

    .pre-tri-content-sec .badge-block {
        text-align: center;
        width: 100%;
    }

    .pre-tri-content-sec .badge-block .donor-badge {
        margin-bottom: var(--size-24);
    }
}

/* /768PX */

@media (max-width: 575px) {
    .hero-section .cursive-font {
        font-size: 4rem;
        line-height: 3.55rem;
    }

    .tribute-slider-section .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .tribute-slider-section .btns a+a {
        margin-left: 0;
    }

    .media-section h2,
    .media-section p {
        margin-bottom: 1rem;
    }

    .media-section :where(video, .ratio, iframe, .main-img) {
        border-radius: 10px;
    }

    .faq-accordion .accordion-button {
        font-size: 1rem;
        line-height: var(--size-24);
        padding: 1rem 0 .5rem 0;
    }

    .search-section .row {
        row-gap: var(--size-20);
    }

    .search-filter {
        margin-bottom: var(--size-20);
    }

    .alert-section .alert {
        padding: 1rem;
    }

    .search-filter .col:not(:last-child):after {
        display: none;
    }

    .search-filter label {
        font-size: var(--small-text);
        margin-bottom: 4px;
    }

    .account-menu .dropdown-menu {
        box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
    }

    .photo-list .item {
        flex-direction: column;
        row-gap: 1rem;
        text-align: center;
    }

    .photo-list .item .content {
        padding: 0;
    }

    .photo-list .item .badge {
        margin-bottom: .5rem;
    }

    .pre-tribute-slider .owl-nav button {
        top: 35%;
    }
}

/* /575PX */

@media (max-width: 460px) {
    .hero-section {
        background-position: center -40vw;
    }

    .hero-section .cursive-font {
        font-size: 3.25rem;
        line-height: 2.75rem;
    }

    .tribute-slider .img-box {
        height: 50vw;
        opacity: 0.5;
    }

    .tribute-slider .owl-item.active.center .img-box {
        opacity: 1;
    }

    .info-section .row-gap-5 {
        row-gap: 2rem !important;
    }

    .info-section .row .column:not(:last-child) .info-box:after {
        margin-top: 2rem;
    }

    .search-filter .col {
        flex: inherit;
        width: 100% !important;
    }

}

/* /460PX */

/* /RESPONSIVE */