/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* /GOOGLE FONTS */

:root {
    --primary-color: #003764;
    --secondary-color: #EE7700;
    --blue-color: #00539F;
    --light-blue-color: #009BDE;
    --orange-color: #FF9E16;
    --light-orange-color: #FCE4CC;
    --green-color: #7AC143;
    --black-color: #000000;
    --dark-color: #1B1B1B;
    --gray-color: #3B3B3B;
    --gray-81: #818181;
    --gray-D9: #D9D9D9;
    --white-color: #FFFFFF;
    --light-color: #F5F5F5;
    --light-gray-color: #F0ECE9;
    --input-border-color: #C6C6C8;
    --placeholder-color: #8E8E93;
    --error-color: #F33C3C;
    --transparent: transparent;
    --shadow: 0 0 14px 0 rgba(0, 155, 222, 0.3);
    /* Fonts & Size*/
    --body-font: "Inter", sans-serif;
    --heading-font: "EB Garamond", serif;
    --cursive-font: "Parisienne", cursive;
    --body-text: 1.125rem;
    --large-text: 1.25rem;
    --small-text: 0.938rem;
    --button-text: 1rem;
    --x-small-text: 0.875rem;
    --padding: 120px;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-30: 1.875rem;
    --size-32: 2rem;
    --size-40: 2.5rem;
    --size-48: 3rem;
    --size-80: 5rem;
    --td-03: all 0.3s ease;
    --td-05: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


html {
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

body,
p,
li {
    font-size: var(--body-text);
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--dark-color);
}

a,
button,
input,
textarea,
select {
    box-shadow: none !important;
    outline: none !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--heading-font);
    font-weight: 400;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--body-font);
    font-weight: 400;
}

h1,
.h1 {
    font-size: 4.313rem;
    line-height: 5.125rem;
    color: var(--primary-color);
}

h2,
.h2 {
    font-size: 3.438rem;
    line-height: 4.125rem;
    font-weight: 500;
    margin-bottom: var(--size-40);
}

h3,
.h3 {
    font-size: 2.75rem;
    line-height: 3.3rem;
}

h4,
.h4 {
    font-size: 2.188rem;
    line-height: 3.063rem;
}

h5,
.h5 {
    font-size: 1.75rem;
    line-height: 2.275rem;
}

h6,
.h6 {
    font-size: 1.438rem;
    line-height: 1.725rem;
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}


/* MODIFIER COMPONENTS &  CUSTOM CLASSES */
input:not([type=submit]),
.form-control:not([type=submit]),
.form-select {
    font-size: var(--small-text);
    font-family: var(--body-font);
    font-weight: 400;
    background-color: var(--white-color);
    border: 1px solid var(--input-border-color);
    color: var(--black-color);
    margin-bottom: 1rem;
    height: 51px;
    border-radius: 8px;
}

textarea.form-control {
    height: auto !important;
    resize: none;
}

.form-group input,
.form-group .form-control,
.form-group .form-select,
.form-group select,
.form-group textarea {
    margin-bottom: 0;
}

.form-group:not(:last-child),
.row .row .form-group {
    margin-bottom: var(--size-24);
}

.form-control::placeholder,
.form-control:disabled {
    color: var(--placeholder-color);
}

input:focus:not([type=submit]),
.form-control:focus:not([type=submit]),
.form-select:focus {
    border-color: var(--secondary-color);
}

input.error:not([type=submit]),
.form-control.error:not([type=submit]),
.form-select.error {
    border-color: var(--error-color);
}

.input-group {
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
}

.input-group :where(input, select) {
    border: 0 !important;
    border-radius: 8px;
    margin-bottom: 0 !important;
}

.input-group button {
    min-height: 100%;
    padding: 0;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--placeholder-color);
}

.calendar-select,
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar-icon.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right .75rem center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right center;
}

option {
    color: var(--dark-color);
}

input[type="date"]:invalid,
select:required:invalid {
    color: var(--placeholder-color);
}

.form-check {
    display: flex;
    margin: 0;
    padding: 0;
}

input[type=checkbox],
.form-check-input[type=checkbox] {
    width: 21px;
    height: 21px;
    display: block;
    margin-left: 0;
    float: none;
    border-width: 3px;
    border-color: var(--gray-color) !important;
}

input[type=checkbox]:checked,
.form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color) !important;
}

.form-check label {
    flex: 1;
    font-size: var(--small-text);
    /* line-height: 1.375rem; */
    padding-left: 7.5px;
    color: var(--gray-color);
    margin-bottom: 0;
}

label {
    margin-bottom: 8px;
    color: var(--dark-color);
    font-weight: 400;
}

label span {
    display: inline-block;
    font-size: var(--x-small-text);
    font-style: italic;
    color: var(--placeholder-color);
    margin-left: 5px;
}

label i {
    color: var(--placeholder-color);
    cursor: pointer;
    margin-left: auto;

}

/* textarea {
    scrollbar-width: thin;
    scrollbar-color: rgba(60, 60, 67, 0.29) var(--transparent);
} */

textarea::-webkit-scrollbar {
    width: 16px;
    padding: 20px
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(60, 60, 67, 0.29);
    border-radius: 10px;
    border: 6px solid white;
}

textarea::-webkit-scrollbar-track {
    background: trasnparent;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--primary-color);
    --bs-tooltip-color: var(--light-gray-color);
}

.info-dropdown {
    display: flex;
    align-items: flex-end;
}

.info-dropdown i {
    margin-left: auto;
    cursor: pointer;
}

.info-dropdown .dropdown-menu {
    border-radius: 0;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 1rem;
    padding-bottom: 0;
    width: 249px;
    white-space: normal;
}

.info-dropdown .dropdown-menu * {
    font-size: var(--x-small-text);
    color: var(--white-color);
    line-height: var(--size-24);
}

.info-dropdown .dropdown-menu .btn {
    display: block;
    text-transform: uppercase;
    border-top: 1px solid rgba(255 255 255 / 29%);
    padding: 1rem 0;
    border-radius: 0;
    text-align: left;
    color: var(--secondary-color);
    font-size: 1rem;
    height: auto;
}

.info-dropdown .dropdown-menu .btn:hover {
    color: var(--orange-color);
}

.info-dropdown .dropdown-menu:before {
    content: "";
    align-self: center;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--primary-color);
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn,
.dark-blue-btn,
.blue-outline-btn,
.light-orange-btn,
.light-btn,
.light-outline-btn,
input[type=submit],
.form-control[type=submit] {
    position: relative;
    display: inline-block;
    font-size: var(--button-text);
    font-family: var(--body-font);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 45px;
    height: 51px;
    align-content: center;
    border: none;
    border-radius: 8px;
    transition: var(--td-03);
    overflow: hidden;
    z-index: 1;
}

.btn-primary,
input[type=submit],
.form-control[type=submit],
.btn-primary:hover,
input[type=submit]:hover,
.form-control[type=submit]:hover {
    border: none;
    background-color: var(--secondary-color);
    color: var(--black-color);
}

.btn-primary:after,
input[type=submit]:after,
.form-control[type=submit]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--orange-color);
    z-index: -1;
    pointer-events: none;
    transition: var(--td-05);
}

.btn-primary:hover:after,
input[type=submit]:hover:after,
.form-control[type=submit]:hover:after {
    width: 100%;
}

input[type="date"]::-webkit-datetime-edit {
    text-transform: uppercase;
    position: relative;
}

.dark-blue-btn,
.dark-blue-btn:hover {
    background-color: var(--primary-color);
    color: var(--light-gray-color);
    border: none;
}

.dark-blue-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--blue-color);
    z-index: -1;
    pointer-events: none;
    transition: var(--td-05);
}

.dark-blue-btn:hover:after {
    width: 100%;
}

.blue-outline-btn {
    background-color: var(--transparent);
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    transition: var(--td-03);
}

.blue-outline-btn:hover {
    color: var(--light-gray-color);
    border-color: var(--blue-color);
}

.blue-outline-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--blue-color);
    z-index: -1;
    pointer-events: none;
    transition: var(--td-05);
}

.blue-outline-btn:hover:after {
    width: 100%;
}

.light-orange-btn {
    background-color: var(--light-orange-color);
    color: var(--secondary-color);
}

.light-orange-btn:hover {
    background-color: var(--orange-color);
    color: var(--black-color);
}

.light-btn {
    background-color: var(--light-gray-color);
    color: var(--primary-color);
}

.light-btn:hover {
    background-color: var(--light-orange-color);
    color: var(--secondary-color);
}

.light-outline-btn,
.light-outline-btn:hover {
    background-color: var(--transparent);
    color: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    transition: var(--td-05);
}

.light-outline-btn:hover {
    border-color: var(--blue-color);
}

.light-outline-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--blue-color);
    z-index: -1;
    pointer-events: none;
    transition: var(--td-05);
}

.light-outline-btn:hover:after {
    width: 100%;
}

.edit-link-btn,
.privew-link-btn,
.delete-link-btn {
    position: relative;
    display: inline-block;
    font-size: var(--button-text);
    font-family: var(--body-font);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: var(--td-03);
}

.edit-link-btn:before,
.privew-link-btn:before,
.delete-link-btn:before {
    content: '';
    display: inline-block;
    font-family: gift-of-life-icons !important;
    margin-right: 10px;
    line-height: 1;
}

.edit-link-btn:before {
    content: "\f4cb";
}

.privew-link-btn:before {
    content: "\f38b";
}

.delete-link-btn:before {
    content: "\f78b";
}

.edit-link-btn {
    color: var(--secondary-color);
}

.edit-link-btn:hover {
    color: var(--orange-color);
}

.privew-link-btn {
    color: var(--primary-color);
}

.privew-link-btn:hover {
    color: var(--light-blue-color);
}

.delete-link-btn {
    color: var(--gray-color);
}

.delete-link-btn:hover {
    color: var(--error-color);
}

.arrow-btn {
    position: relative;
    display: inline-block;
    font-size: 1.55rem;
    padding: 0;
    width: 56px;
    height: 56px;
    border-radius: 75%;
    border: none;
    background-color: var(--light-gray-color);
    color: var(--primary-color);
    transition: var(--td-03);
    padding: 10px;
    overflow: hidden;
}

.arrow-btn:hover {
    background-color: var(--light-orange-color);
    color: var(--secondary-color);
}

.arrow-btn i {
    display: block;
    transform: rotate(45deg);
}

.arrow-btn:hover i {
    animation: move-vertical-out 0.5s;
}

@keyframes move-vertical-out {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    50% {
        transform: translate(150%, -150%) rotate(45deg);
    }

    50.1% {
        transform: translate(-150%, 150%) rotate(45deg);
    }

    100% {
        transform: translate(0) rotate(45deg);
    }
}


.arrow-btn span {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 75%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.arrow-btn span::before,
.arrow-btn span::after {
    content: "\f145";
    font-family: "gift-of-life-icons" !important;
    transition: var(--td-03);
    transform: rotate(55deg);
    font-size: 2rem;
}

.arrow-btn span::after {
    position: absolute;
    transform: translate(-150%, 150%);
}

.arrow-btn:hover span::before {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.arrow-btn:hover span::after {
    transition: transform 0.3s ease-in-out;
    transform: translate(0) rotate(55deg);
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    color: var(--black-color);
    border-color: var(--error-color);
    background-color: var(--error-color);
}

.text-large,
.text-large p {
    font-family: var(--heading-font);
    font-size: var(--large-text);
    line-height: 2.063rem;
}

.text-small,
.text-small p {
    font-size: var(--small-text);
    line-height: 1.406rem;
}

.sub-label,
.sub-label * {
    font-size: var(--x-small-text);
    font-style: italic;
    line-height: 1.313rem;
    color: var(--placeholder-color);
}

.quote-text,
.quote-text * {
    font-family: var(--heading-font);
    font-style: italic;
    color: var(--primary-color);
}

.heading-font {
    font-family: var(--heading-font);
    font-weight: 500;
}

.cursive-font {
    font-family: var(--cursive-font);
    font-weight: 400;
}

.text-primary {
    color: var(--primary-color) !important;
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
}

.text-blue {
    color: var(--blue-color) !important;
}

.blue-bg {
    background-color: var(--blue-color) !important;
}

.text-light-blue {
    color: var(--light-blue-color) !important;
}

.light-blue-bg {
    background-color: var(--light-blue-color) !important;
}

.text-orange {
    color: var(--orange-color) !important;
}

.orange-bg {
    background-color: var(--orange-color) !important;
}

.text-light-orange {
    color: var(--light-orange-color) !important;
}

.light-orange-bg {
    background-color: var(--light-orange-color) !important;
}

.text-red {
    color: var(--error-color) !important;
}

.text-green {
    color: var(--green-color) !important;
}

.text-light-gray {
    color: var(--light-gray-color) !important;
}

.light-gray-bg {
    background-color: var(--light-gray-color) !important;
}

.text-gray {
    color: var(--gray-color) !important;
}

.gray-bg {
    background-color: var(--gray-color) !important;
}

.text-white {
    color: var(--white-color) !important;
}

.text-black {
    color: var(--black-color) !important;
}

.mt-40,
.my-40 {
    margin-top: var(--size-40);
}

.mb-40,
.my-40 {
    margin-bottom: var(--size-40);
}

.mt-80,
.my-80 {
    margin-top: var(--size-80);
}

.mb-80,
.my-80 {
    margin-bottom: var(--size-80);
}

.section {
    padding-top: var(--padding);
}

.color-section,
.section:has(+.color-section),
.section:last-child,
.section:has(+footer) {
    padding-bottom: var(--padding);
}

.section-small {
    padding-top: var(--size-80);
}

.section-small:has(+.color-section),
.section-small:last-child,
.section-small:has(+footer) {
    padding-bottom: var(--size-80);
}

.owl-carousel .owl-nav {
    display: flex;
    gap: 20px;
}

.owl-carousel .owl-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 75%;
    background: var(--light-orange-color) !important;
    color: var(--orange-color) !important;
    font-size: 1.5rem !important;
    transition: var(--td-03);
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav button:hover {
    background: var(--orange-color) !important;
    color: var(--black-color) !important;
}

.owl-carousel .owl-nav button+button {
    left: auto;
    right: -80px;
}

/* BREADCRUMB */
.breadcrumb-sec {
    position: relative;
    padding-top: var(--size-32);
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-item,
.breadcrumb-item a {
    color: var(--gray-81);
    font-size: var(--small-text);
    transition: var(--td-03);
}

.breadcrumb-item[href]:hover,
.breadcrumb-item a[href]:hover {
    color: var(--secondary-color);
}

.breadcrumb-item.active,
.breadcrumb-item a.active {
    color: var(--dark-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f285";
    font-family: gift-of-life-icons !important;
}

/* /BREADCRUMB */

@media screen and (min-width: 1200px) {
    .mw-1100 {
        max-width: 1100px;
        margin: 0 auto;
    }
}

.mw-800 {
    max-width: 800px;
    margin: 0 auto;
}

.mini-container {
    max-width: 856px;
    margin: 0 auto;
}

.modal-dialog {
    max-width: 856px;
}

.modal-content {
    border-radius: 1rem;
}

.modal-body {
    padding: var(--size-40);
}

.dropdown-toggle[aria-expanded="true"]::after {
    border-top: 0;
    border-bottom: .3em solid;
}

.font-style-italic {
    font-style: italic !important;
}

.font-style-normal {
    font-style: normal !important;
}


/* /MODIFIER COMPONENTS & CUSTOM CLASSES*/



/* HEADER STYLE */
header .navbar {
    height: 100px;
    background-color: var(--primary-color);
}

header .navbar-toggler,
header .offcanvas .close-btn {
    padding: 0;
    border: 0;
    font-size: var(--small-text);
    color: var(--white-color);
    background-color: var(--transparent);
    display: flex;
    align-items: center;
    transition: var(--td-03);
}

header .navbar-toggler i,
header .offcanvas .close-btn i {
    font-size: 2.75rem;
}

header .navbar-toggler:hover,
header .offcanvas .close-btn:hover {
    color: var(--secondary-color);
}

header .navbar .offcanvas {
    width: 618px;
    background-color: var(--primary-color);
}

header .offcanvas::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: -59px;
    width: 230px;
    height: 251px;
    background-image: url(../images/watermark.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

header .offcanvas-header {
    min-height: 100px;
    justify-content: flex-end;
}

header .offcanvas-header .close-btn {
    margin-right: calc(var(--bs-gutter-x) * .75);
}

@media (min-width: 576px) {
    header .offcanvas-header {
        padding-right: calc((100vw - 540px)/2);
    }
}

@media (min-width: 768px) {
    header .offcanvas-header {
        padding-right: calc((100vw - 720px)/2);
    }
}

@media (min-width: 991px) {
    header .offcanvas-header {
        padding-right: calc((100vw - 960px)/2);
    }
}

@media (min-width: 1200px) {
    header .offcanvas-header {
        padding-right: calc((100vw - 1140px)/2);
    }
}

@media (min-width: 1400px) {
    header .offcanvas-header {
        padding-right: calc((100vw - 1320px)/2);
    }

    header .offcanvas-header .close-btn {
        margin-right: calc(var(--bs-gutter-x) * .85);
    }
}

@media (min-width: 1500px) {
    header .navbar>.container {
        max-width: 1460px;
    }

    header .offcanvas-header {
        padding-right: calc((100vw - 1460px) / 2);
    }
}

header .offcanvas-footer {
    padding: 1rem;
    padding-left: 80px;
}

header .main-navbar {
    overflow: hidden;
}

header .navbar .nav-link {
    font-size: var(--large-text);
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 2rem;
    padding-left: 80px;
}

header .offcanvas .nav-link {
    opacity: 0;
    transform: translateX(100%);
    /* animation: slideIn 0.5s ease forwards; */
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header .navbar .nav-link.active,
header .navbar .nav-link:hover {
    color: var(--secondary-color);
}

header .offcanvas .light-outline-btn {
    font-size: var(--x-small-text);
    padding: 10px 30px;
}

header .offcanvas .light-outline-btn+.light-outline-btn {
    margin-left: 1rem;
}

header .offcanvas-body {
    overflow-x: hidden;
    /* scrollbar-color: var(--blue-color) var(--transparent);
    scrollbar-width: thin; */
}

/* /HEADER STYLE */

/* FOOTER STYLE */
footer {
    padding: 3.5rem 0 1.5rem 0;
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-top: auto;
}

footer .nav-link {
    font-size: var(--small-text);
    color: var(--white-color);
    margin-left: 1rem;
    padding: 0;
}

footer .nav-link:first-child {
    margin-left: 0;
}

footer .nav-link:hover {
    color: var(--secondary-color);
}

footer .nav-link:focus {
    color: unset;
}

.social-links .nav-link {
    font-size: var(--large-text);
}

footer .top {
    margin-bottom: 24px;
    padding-bottom: 56px;
    border-bottom: 1px solid var(--gray-color);
}

footer p,
footer p a {
    position: relative;
    font-size: var(--x-small-text);
    color: var(--white-color);
    margin-bottom: 0;
}

footer .bottom p:first-child {
    flex: 1;
}

footer p a:not(:last-child)::after {
    content: "|";
    margin: 0 8px;
}

@media (min-width: 1500px) {
    footer .container {
        max-width: 1472px;
    }
}

/* /FOOTER STYLE */

/* INNER HERO SECTION */
.inner-hero {
    position: relative;
    text-align: center;
    padding-top: var(--size-80);
}

.inner-hero h1 {
    margin-bottom: 1rem;
}

.inner-hero h6 {
    max-width: 860px;
    margin: 0 auto;
    color: var(--gray-color);
}

.inner-hero blockquote,
.inner-hero .quote-text {
    font-weight: 400;
}

.breadcrumb-sec+section:not(footer) {
    padding-top: var(--size-48);
}

.breadcrumb-sec:has(+.auth-section) {
    z-index: 1;
}

.breadcrumb-sec+.auth-section {
    margin-top: -60px;
    padding-top: 6.75rem;
}

/* /INNER HERO SECTION */

/* MY ACCOUNT FORM STYLE */
div.form-control,
p.form-control,
label.form-control {
    color: var(--black-color) !important;
    align-content: center;
}

.pass-group {
    position: relative;
}

.pass-group input {
    padding-right: 2.75rem;
}

.pass-group i {
    position: absolute;
    right: 1rem;
    top: .8rem;
    cursor: pointer;
    font-size: 1.35rem;
    color: var(--placeholder-color);
}

.account-form-wrapper {
    position: relative;
    padding: var(--size-40);
    border: 1px solid #E5E5EA;
    border-radius: 1rem;
}

.account-form-wrapper form {
    max-width: 416px;
    margin: 0 auto;
}

.account-form-wrapper .form-group .form-control {
    margin-bottom: 0;
}

/* /MY ACCOUNT FORM STYLE */

/* MESSAGE SECTION */
.message-section .content {
    position: relative;
    max-width: 776px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--size-40);
}

.message-section .content * {
    margin-bottom: 0;
}

.message-section .content .icon-img {
    margin-bottom: -0.5rem;
    max-width: 5rem;
}

.message-section .content p {
    color: var(--gray-color);
    margin-bottom: 8px;
}

.message-section .content p:last-child {
    margin-bottom: 0;
}

.message-section .content p a {
    color: var(--light-blue-color);
    font-weight: 700;
}

.message-section .content p a:hover {
    color: var(--secondary-color);
}

.message-section .content h6 {
    color: var(--gray-color);
}

/* /MESSAGE SECTION */

/* AUTHENTICATION SECTION */
.auth-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/curve-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-wrapper {
    position: relative;
    max-width: 856px;
    margin: 0 auto;
    background-color: var(--white-color);
    padding: var(--size-40);
    border-radius: 16px;
    box-shadow: 0 0 20px 4px rgba(238, 119, 0, 0.06);
}

.auth-section h1 {
    margin-bottom: var(--size-40);
    text-align: center;
}

.auth-section h1+p {
    text-align: center;
    color: var(--gray-color);
    margin-bottom: var(--size-24);
    max-width: 646px;
    margin-left: auto;
    margin-right: auto;
}

.auth-section form {
    max-width: 416px;
    margin: 0 auto;
}

.auth-section form .text-small:last-child {
    margin-bottom: 0;
    margin-top: 1rem;
    color: var(--gray-color);
}

.auth-section form .text-small:last-child a {
    color: var(--light-blue-color);
    font-weight: 700;
}

.auth-section form .text-small:last-child a:hover {
    color: var(--secondary-color);
}


/* /AUTHENTICATION SECTION */

/* ///// RESPONSIVE ///////////////////////////////////////////////////////////////////// */
@media (max-width: 1299px) {

    h3,
    .h3 {
        font-size: 2rem;
        line-height: 2.55rem;
    }
}

/* /1299PX */
@media (max-width: 1199px) {

    .owl-carousel .owl-nav button {
        left: -1rem;
    }

    .owl-carousel .owl-nav button+button {
        right: -1rem;
    }

    .info-dropdown .dropdown-menu {
        transform: inherit !important;
        inset: 35px 0 auto auto !important;
    }

    .info-dropdown .dropdown-menu:before {
        left: calc(100% - 12px);
        transform: inherit;
    }

}

@media (max-width: 1024px) {
    :root {
        --body-text: 1rem;
        --large-text: 1.5rem;
        --padding: 80px;
    }

    body,
    p,
    li {
        line-height: 1.625rem;
    }

    h1,
    .h1 {
        font-size: 2.75rem;
        line-height: 3.25rem;
    }

    h2,
    .h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
        margin-bottom: var(--size-20);
    }

    h3,
    .h3 {
        font-size: 2rem;
        line-height: 2.55rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
        line-height: 1.525rem;
    }

    .message-section {
        min-height: calc(100vh - 158px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .message-section .content {
        max-width: 690px;
        row-gap: var(--size-20);
    }

    .message-section .content .icon-img {
        margin-bottom: 0;
        max-width: 4rem;
    }

    .account-section {
        min-height: calc(100vh - 20rem);
        align-content: center;
    }

}

/* /1024PX */

@media (max-width: 992px) {

    .btn,
    .dark-blue-btn,
    .blue-outline-btn,
    .light-orange-btn,
    .light-btn,
    .light-outline-btn,
    input[type=submit],
    .form-control[type=submit] {
        font-size: var(--small-text);
        padding: 12px 35px;
        height: 46px;
        align-content: center;
    }

    .owl-carousel .owl-nav button {
        width: 45px;
        height: 45px;
    }

    footer .top {
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
    }

}

/* /992PX */


@media (max-width: 768px) {
    :root {
        --button-text: 0.875rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-fluid {
        max-width: 90%;
    }

    h1,
    .h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    h2,
    .h2 {
        font-size: 1.875rem;
        line-height: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    h6,
    .h6 {
        font-size: var(--x-small-text);
        line-height: 1.5rem;
    }

    .section-small {
        padding-top: var(--size-40);
    }

    .section-small:has(+.color-section),
    .section-small:last-child,
    .section-small:has(+footer) {
        padding-bottom: var(--size-40);
    }

    header .navbar {
        height: 80px;
    }

    header .navbar-brand {
        max-width: 180px;
    }

    header .offcanvas-header {
        height: 80px;
        min-height: 80px;
    }

    header .navbar-toggler,
    header .offcanvas .close-btn {
        font-size: var(--x-small-text);
    }

    header .navbar-toggler i,
    header .offcanvas .close-btn i {
        font-size: 2rem;
    }

    header .navbar .offcanvas {
        width: 300px;
    }

    header .navbar .nav-link {
        padding-left: 0;
        margin-bottom: 0.625rem;
        font-size: var(--button-text);
    }

    header .offcanvas-footer {
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }

    header .offcanvas .light-outline-btn {
        font-size: 0.75rem;
        padding: 7px 24px;
    }

    header .offcanvas .light-outline-btn+.light-outline-btn {
        margin-left: 5px;
    }

    header .offcanvas::after {
        right: -15px;
        bottom: -50px;
        width: 100px;
        height: 130px;
    }

    footer {
        padding: 1.875rem 0 1.25rem 0;
    }

    footer .top {
        flex-direction: column;
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        gap: 2rem;
        align-items: flex-start !important;
    }

    footer .footer-menu {
        display: block;
        order: inherit;
    }

    footer .nav-link {
        font-size: 0.75rem;
        margin-left: 0;
        margin-bottom: 0.625rem;
    }

    footer .nav-link:last-child {
        margin-bottom: 0;
    }

    .social-links .nav-link {
        font-size: var(--body-font);
        margin-left: 20px;
    }

    footer .bottom {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    footer p,
    footer p a {
        font-size: 0.75rem;
    }

    .breadcrumb-sec {
        padding-top: .5rem;
    }

    .breadcrumb-item,
    .breadcrumb-item a {
        font-size: 12px;
    }

    .message-section .content p br {
        display: none;
    }

    .breadcrumb-sec+.auth-section {
        margin-top: -34px;
        padding-top: 4rem;
    }

}

/* /768PX */

@media (max-width: 575px) {
    :root {
        --padding: 30px;
        --size-40: 30px;
        --size-48: 30px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-fluid {
        max-width: 95%;
    }

    .btn,
    .dark-blue-btn,
    .blue-outline-btn,
    .light-orange-btn,
    .light-btn,
    .light-outline-btn,
    input[type=submit],
    .form-control[type=submit] {
        font-size: 0.875rem;
        padding: 10px 25px;
    }

    .owl-carousel .owl-nav button {
        width: 30px;
        height: 30px;
        font-size: 1rem !important;
    }

    .auth-section {
        min-height: inherit;
    }

    .auth-wrapper {
        padding: var(--size-20);
    }
}

/* /575PX */